body{
	font-family: 'Baloo Bhai', cursive;
	color: white;
	margin: 0px;
	padding: 0px;
	background-image: url('img/gym1.webp');
	background-repeat: no-repeat;
	background-size: 1350px 700px;
	overflow-y:hidden;
	
	
	}
	
	.left {
	display: inline-block;
	/* border: 2px solid red; */
	position: absolute;
	left: 40px;
	top: 15px;
	}
	
	.left img {
	margin-left: 30px;
	width: 50px;
	filter: invert(100%);
	}
	
	.left div {
	line-height: 5px;
	font-size: 20px;
	text-align: center;
	}
	
	.mid {
	display: block;
	width: 60%;
	margin: 25px auto;
	/* border: 2px solid green; */
	}
	
	.right {
	position: absolute;
	right: 34px;
	top: 35px;
	display: inline-block;
	/* border: 2px solid yellow; */
	}
	
	.navbar {
	display: inline-block;
	}
	
	.navbar li {
	display: inline-block;
	font-size: 20px;
	}
	
	.navbar li a {
	color: white;
	text-decoration: none;
	padding: 25px 20px;
	
	}
	
	.navbar li a:hover,
	.navbar li a.active {
	text-decoration: underline;
	color: grey;
	
	}
	
	.btn {
	font-family: 'Baloo Bhai', cursive;
	margin: 0px 9px;
	background-color: black;
	color: white;
	padding: 4px 14px;
	border: 2px solid grey;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
	}
	
	.btn:hover {
	background-color: rgb(115, 96, 122);
	}
	
	.container {
	border: 2px solid white;
	margin: 26px 150px;
	padding: 20px;
	width: 33%;
	border-radius: 15px;
	}
	
	.form-group input {
	font-family: 'Baloo Bhai', cursive;
	text-align: center;
	display: block;
	width: 350px;
	padding: 1px;
	border: 2px solid black;
	margin: 10px auto;
	font-size: 20px;
	border-radius: 8px;
	}
	
	.container h1 {
	text-align: center;
	}
	
	.container button {
	display: block;
	width: 80%;
	margin: 20px auto;
	}